loading dataset

In [3]:
import pandas as pd

In [4]:
data =pd.read_csv('mobile_phone.csv')

In [5]:
data.head()

   index              date  duration  item    month   network network_type
0      0  15/10/2014 06:58    34.429  data  2014-11      data         data
1      1  15/10/2014 06:58    13.000  call  2014-11  Vodafone       mobile
2      2  15/10/2014 14:46    23.000  call  2014-11    Meteor       mobile
3      3  15/10/2014 14:48     4.000  call  2014-11     Tesco       mobile
4      4  15/10/2014 17:27     4.000  call  2014-11     Tesco       mobile

1) Get the Basic Statistics of Dataset.

In [6]:
data.describe()

            index      duration
count  830.000000    830.000000
mean   414.500000    117.804036
std    239.744656    444.129560
min      0.000000      1.000000
25%    207.250000      1.000000
50%    414.500000     24.500000
75%    621.750000     55.000000
max    829.000000  10528.000000

2) Display the data grouped by Month.

In [8]:
data.groupby(['month']).groups.keys()

dict_keys(['2014-11', '2014-12', '2015-01', '2015-02', '2015-03'])

3) Display the data by grouping data month wise.

In [11]:
data.groupby(['month']).first()

         index              date  duration  item   network network_type
month
2014-11      0  15/10/2014 06:58    34.429  data      data         data
2014-12    228  13/11/2014 06:58    34.429  data      data         data
2015-01    381  13/12/2014 06:58    34.429  data      data         data
2015-02    577  13/01/2015 06:58    34.429  data      data         data
2015-03    729  12/02/2015 20:15    69.000  call  landline     landline

4) Get the sum of duration per month.

In [12]:
data.groupby(['month'])['duration'].sum()

month
2014-11    26639.441
2014-12    14641.870
2015-01    18223.299
2015-02    15522.299
2015-03    22750.441
Name: duration, dtype: float64

5) Show the mean of duration per month.

In [13]:
data.groupby(['month'])['duration'].mean()

month
2014-11    115.823657
2014-12     93.260318
2015-01     88.894141
2015-02    113.301453
2015-03    225.251891
Name: duration, dtype: float64

6) Show the median of duration per month.

In [14]:
data.groupby(['month'])['duration'].median()

month
2014-11     4.000
2014-12    28.000
2015-01     6.000
2015-02    34.429
2015-03    34.429
Name: duration, dtype: float64

7) Get the minimum duration of call per month.

In [16]:
data.groupby(['month'])['duration'].min()

month
2014-11    1.0
2014-12    1.0
2015-01    1.0
2015-02    1.0
2015-03    1.0
Name: duration, dtype: float64

8) Get the maximum duration of call per month.

In [18]:
data.groupby(['month'])['duration'].max()

month
2014-11     1940.0
2014-12     2120.0
2015-01     1859.0
2015-02     1863.0
2015-03    10528.0
Name: duration, dtype: float64

9) Get the first entry for each month.

In [19]:
data.head()

   index              date  duration  item    month   network network_type
0      0  15/10/2014 06:58    34.429  data  2014-11      data         data
1      1  15/10/2014 06:58    13.000  call  2014-11  Vodafone       mobile
2      2  15/10/2014 14:46    23.000  call  2014-11    Meteor       mobile
3      3  15/10/2014 14:48     4.000  call  2014-11     Tesco       mobile
4      4  15/10/2014 17:27     4.000  call  2014-11     Tesco       mobile

In [21]:
data.groupby(['month'])['date'].first()

month
2014-11    15/10/2014 06:58
2014-12    13/11/2014 06:58
2015-01    13/12/2014 06:58
2015-02    13/01/2015 06:58
2015-03    12/02/2015 20:15
Name: date, dtype: object

10) Get the last entry for each month.

In [22]:
data.groupby(['month'])['date'].last()

month
2014-11    13/11/2014 22:31
2014-12    14/12/2014 19:54
2015-01    14/01/2015 23:36
2015-02    12/02/2015 06:58
2015-03    14/03/2015 00:16
Name: date, dtype: object

11) Display the number of unique network in the dataset.

In [10]:

data.groupby(['network'])['duration'].nunique()
#data.groupby('network')['duration'].nunique()

data.network.unique()

array(['data', 'Vodafone', 'Meteor', 'Tesco', 'Three', 'voicemail',
       'landline', 'special', 'world'], dtype=object)

In [9]:
data['duration'].nunique()

221

12) Which Network has the maximum duration in the dataset.

In [33]:
data.groupby(['network'])['duration'].min()

network
Meteor        1.000
Tesco         1.000
Three         1.000
Vodafone      1.000
data         34.429
landline      3.000
special       1.000
voicemail     1.000
world         1.000
Name: duration, dtype: float64

13) How many calls, sms and data entries are in each month?

In [34]:
data.head()

   index              date  duration  item    month   network network_type
0      0  15/10/2014 06:58    34.429  data  2014-11      data         data
1      1  15/10/2014 06:58    13.000  call  2014-11  Vodafone       mobile
2      2  15/10/2014 14:46    23.000  call  2014-11    Meteor       mobile
3      3  15/10/2014 14:48     4.000  call  2014-11     Tesco       mobile
4      4  15/10/2014 17:27     4.000  call  2014-11     Tesco       mobile

In [37]:
data.groupby(['month','item'])['index'].count()

month    item
2014-11  call    107
         data     29
         sms      94
2014-12  call     79
         data     30
         sms      48
2015-01  call     88
         data     31
         sms      86
2015-02  call     67
         data     31
         sms      39
2015-03  call     47
         data     29
         sms      25
Name: index, dtype: int64

14) How many calls, texts, and data are sent per month, split by network type?

In [40]:
data.groupby(['network','month','item'])['index'].count()

network    month    item
Meteor     2014-11  call    13
                    sms     10
           2014-12  call    12
                    sms     12
           2015-01  call    21
                    sms     10
           2015-02  call     4
                    sms      1
           2015-03  call     4
Tesco      2014-11  call    20
                    sms      3
           2014-12  call    12
                    sms      1
           2015-01  call    12
                    sms      3
           2015-02  call    20
                    sms      2
           2015-03  call     7
                    sms      4
Three      2014-11  call    39
                    sms     25
           2014-12  call    30
                    sms     13
           2015-01  call    26
                    sms     33
           2015-02  call    22
                    sms     11
           2015-03  call    11
                    sms      5
Vodafone   2014-11  call    24
                    sms     55
           2014-12  call    10
                    sms     18
           2015-01  call    15
                    sms     40
           2015-02  call     7
                    sms     23
           2015-03  call    10
                    sms     13
data       2014-11  data    29
           2014-12  data    30
           2015-01  data    31
           2015-02  data    31
           2015-03  data    29
landline   2014-11  call     5
           2014-12  call     7
           2015-01  call    11
           2015-02  call     8
           2015-03  call    11
special    2014-11  sms      1
           2015-02  sms      2
voicemail  2014-11  call     6
           2014-12  call     8
           2015-01  call     3
           2015-02  call     6
           2015-03  call     4
world      2014-12  sms      4
           2015-03  sms      3
Name: index, dtype: int64

15) Calculate the number of rows per each network type.

In [45]:
data.groupby(['network_type'])['index'].count()

network_type
data         150
landline      42
mobile       601
special        3
voicemail     27
world          7
Name: index, dtype: int64

16) Calculate the size of each network in the dataset.

In [44]:
data.groupby(['network']).size()

network
Meteor        87
Tesco         84
Three        215
Vodafone     215
data         150
landline      42
special        3
voicemail     27
world          7
dtype: int64

17) Calculate the standard deviation of duration of each month.

In [46]:
data.groupby(['month'])['duration'].std()

month
2014-11     287.548051
2014-12     243.151296
2015-01     216.853383
2015-02     250.778963
2015-03    1076.018287
Name: duration, dtype: float64

18) Calculate the variance of network type.

In [47]:
data.groupby(['network_type']).var()

                     index      duration
network_type
data          60312.269530  0.000000e+00
landline      50247.682346  2.661517e+06
mobile        54623.712934  8.126929e+04
special       92596.333333  0.000000e+00
voicemail     67588.165242  1.962046e+03
world         60958.285714  0.000000e+00

19) Calculate the variance of duration of calls month wise.

In [48]:
data.groupby(['month'])['duration'].var()

month
2014-11    8.268388e+04
2014-12    5.912255e+04
2015-01    4.702539e+04
2015-02    6.289009e+04
2015-03    1.157815e+06
Name: duration, dtype: float64

20) Using Aggregation function calculate the min and max of network.

In [49]:
data.aggregate({'network':['max','min']})

    network
max   world
min  Meteor

21) Using Aggregation function calculate the min and max of the month.

In [50]:
data.aggregate({'month':['min','max']})

       month
min  2014-11
max  2015-03

22) Calculate sum of Duration of the calls using aggregate function.

In [52]:
data.aggregate({'duration':['sum']})

     duration
sum  97777.35

23) Count the total number of item in the dataset.

In [55]:
data.item.count()

830